# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
target/
bower_components/
node_modules/

# MAC OS#
.DS_Store

# IDEA#
*.iml
.idea/

# Eclipse#
.project
.classpath
.setting/

